// Optional licensed Strength animation sources. Host media you have redistribution rights for on
// your own HTTPS CDN, then copy this file to StrengthMediaSecrets.xcconfig. Use {id} for the media
// identifier. NOOP tries a 720 px+ MP4 first, then falls back to a 360 px+ GIF.
NOOP_STRENGTH_VIDEO_URL_TEMPLATE = https:/$()/cdn.example.com/noop-strength/{id}.mp4
NOOP_STRENGTH_MEDIA_URL_TEMPLATE = https:/$()/cdn.example.com/noop-strength/{id}.gif
