// Optional licensed Strength animation source. Purchase ExerciseDB media, host the 360 px or larger
// GIFs on your own HTTPS CDN, then copy this file to StrengthMediaSecrets.xcconfig.
// Use {id} where the ExerciseDB media identifier belongs.
NOOP_STRENGTH_MEDIA_URL_TEMPLATE = https:/$()/cdn.example.com/noop-strength/{id}.gif
